<%- include('head'); -%>
<body>
  <%- include('header'); -%>
  
  <div class="element-list">
    <h2 class="author-list">List of Authors</h2>

    <% authorList.forEach(function(author) { %>
      <div class="card-wrapper">
        <article class="card">
          <header class="card-title">
            <h3><a href="<%= author.url %>"><%= author.name %></a></h3>
            <button class="icon delete-element">
              <a href="<%= author.url %>/delete">
                <i class="far fa-trash-alt"></i>
              </a>
            </button>
          </header>
          <div class="card-details">
            <h3>date of Birth:</h3>
            <p>
              <%= author.date_of_birth_formatted %>
            </p>
            <h3>date of Death:</h3>
            <p>
              <%= author.date_of_death_formatted %>
            </p>
            <h3>Age:</h3>
            <p>
              <%= author.lifespan %>
            </p>
          </div>
          <footer>
            <button class="icon edit-element">
              <a href="<%= author.url %>/update">
                <i class="far fa-edit"></i>
              </a>
            </button>
          </footer>
        </article>
      </div>
    <% }) %>

  </div>
  <footer class="container">
    <button class="button add-btn">
      <a href="/catalog/author/add">
        <i class="fas fa-plus"></i>
      </a>
    </button>
    <p>Click to add an author</p>
  </footer>
</body>
</html>