<%- include('head'); -%>
<body>
  <%- include('header'); -%>
  <form method="POST" action="" class="new-element">
    <button type="button" class="icon close-form">
      <a href="/catalog/author/list" class="icon">X</a>
    </button>
    <fieldset>
      <legend class="form-legend"><%= title %></legend>

      <div class="text-input">
        <input type="text" name="firstName" required="true" value="<%= (typeof author === 'undefined' ? '' : author.firstName) %>">
        <label for="firstName">First Name</label>
      </div>

      <div class="text-input">
        <input type="text" name="familyName" required="true" value="<%= (typeof author === 'undefined'? '' : author.familyName) %>">
        <label for="familyName">Surname</label>
      </div>

      <div class="text-input">
        <input type="date" name="dateOfBirth" value="<%= (typeof author === 'undefined' ? '' : author.dateOfBirth) %>">
        <label for="dateOfBirth">Date of Birth</label>
      </div>

      <div class="text-input">
        <input type="date" name="dateOfDeath" value="<%= (typeof author === 'undefined' ? '' : author.dateOfDeath) %>">
        <label for="dateOfDeath">Date of Death</label>
      </div>

      <button type="submit" class="submit-button"><%= btnLabel %></button>
          
    </fieldset>
  </form>
</body>
</html>
