<%- include('head'); -%>
<body>
  <%- include('header'); -%>

  <div class="card-wrapper">
    <article class="card">
      <header class="card-title">
        <h3><%= title%> %></h3>
        <button class="icon delete-element">
          <a href="<%= book.url %>/delete">
            <i class="far fa-trash-alt"></i>
          </a>
        </button>
      </header>
      <div class="card-details">
        <h3>Author:</h3>
        <p class="book-author"><%= book.author.name %></p>
        <h3>Genre:</h3>
        <p class="book-genre">
          <% book.genre.forEach(function(genre) {
          %>
          <span><%= genre.name %></span>
          <% }) %>
        </p>
        <h3>Summary:</h3>
        <p>Summary: <%= book.summary %></p>
        <h3>ISBN</h3>
        <p>ISBN: <%= book.isbn %></p>
      </div>
      <footer>
        <button class="button status-button"><%= book.status %></button>
        <button class="icon edit-element">
          <i class="far fa-edit"><a href="<%= book.url %>/update"></a></i>
        </button>
      </footer>
    </article>
  </div>

</body>
</html>