<%- include('head'); -%>
<body>
  <%- include('header'); -%>
  <form method="POST" action="" id="new-book">
    <button type="button" class="icon" id="close-form">
      <a href="/catalog/book/list" class="icon">X</a>
    </button>
    <fieldset>
      <legend id="form-legend"><%= title %></legend>

      <div id="title" class="book-text-input">
        <input type="text" name="title" class="book-text-input" required="true" value="<%= (!book ? '' : book.title) %>">
        <label for="title">Title</label>
      </div>

      <div id="author" class="book-text-input">
        <select type="text" name="author" class="book-text-input" required="true" id="select-options">
          <% authors.forEach(function(author) {
            if (book) { 
              %>
              <option value="<%= author.id %>" selected="<%= author.id.tostring() == book.author ? 'selected' : false %>"><%= author.name %></option>
              <% } else { %>
                <option value="<%= author.id %>"><%= author.name %></option>
                <% } %>
                <% }) %>
        </select>
        <label for="author"></label>
        <a id="add-author" href="catalog/author/add">Add Author</a>
      </div>

      <div id="genre">
        <select type="text" name="genre" class="book-text-input" required="true" id="select-options">
          <% genre.forEach(function(genre) {
            if (book) { 
          %>
              <option value="<%= genre.id %>" selected="<%= genre.id.tostring() == book.genre ? 'selected' : false %>"><%= genre.name %></option>
            <% } else { %>
              <option value="<%= genre.id %>"><%= genre.name %></option>
            <% } %>
          <% }) %>
        </select>
        <label for="genre"></label>
        <a id="add-genre" href="catalog/genre/add">Add Genre</a>
      </div>

      <div id="status">

        <label class="radio-button">
          <input type="radio" name="status" id="read" value="Read">
          <span>Read</span>
        </label>
        
        <label class="radio-button">
          <input type="radio" name="status" id="unread" value="Unread">
          <span>Unread</span>
        </label>

      </div>

      <div id="summary" class="book-text-input">
        <input type="text" name="summary" class="book-text-input" required="true" value="<%= (!book ? '' : book.summary) %>">
        <label for="summary">Summary</label>
      </div>
      <div id="isbn" class="book-text-input">
        <input type="text" name="isbn" class="book-text-input" required="true" value="<%= (!book ? '' : book.isbn) %>">
        <label for="isbn">ISBN</label>
      </div>

      <button type="submit" id="add-button">Add</button>
          
    </fieldset>
  </form>
</body>
