<%- include('head'); -%>
<body>
  <%- include('header'); -%>
  <form method="POST" action="" class="new-element">
    <button type="button" class="icon close-form">
      <a href="/catalog/genre/list" class="icon">X</a>
    </button>
    <fieldset>
      <legend class="form-legend"><%= title %></legend>

      <div class="text-input">
        <input type="text" name="name" required="true" value="<%= (typeof genre === 'undefined' ? '' : genre.name) %>">
        <label for="firstName">Genre</label>
      </div>

      <button type="submit" class="submit-button"><%= btnLabel %></button>
          
    </fieldset>
  </form>
</body>
</html>
